<?xml version="1.0" encoding="UTF-8"?>
<!--
  IIS / Windows Plesk: reverse proxy tới Node (Next.js).
  Cần cài URL Rewrite + Application Request Routing (ARR).
  Đổi 3000 nếu PORT khác.
-->
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="ReverseProxyToNext" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action
            type="Rewrite"
            url="http://127.0.0.1:3000/{R:1}"
            appendQueryString="true" />
        </rule>
        <rule name="ReverseProxyRoot" stopProcessing="true">
          <match url="^$" />
          <action type="Rewrite" url="http://127.0.0.1:3000/" />
        </rule>
      </rules>
    </rewrite>
    <httpErrors existingResponse="PassThrough" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
